# Tag de l'image whisper-server-vulkan upstream
# Voir : https://github.com/kth8/whisper-server-vulkan/pkgs/container/whisper-server-vulkan
WHISPER_IMAGE_TAG=latest

# Harbor local
LOCAL_HARBOR_URL=
LOCAL_HARBOR_USER=
LOCAL_HARBOR_PASSWORD=
LOCAL_HARBOR_PROJECT=

# Harbor test
TEST_HARBOR_URL=
TEST_HARBOR_USER=
TEST_HARBOR_PASSWORD=
TEST_HARBOR_PROJECT=

# Harbor prod
PROD_HARBOR_URL=
PROD_HARBOR_USER=
PROD_HARBOR_PASSWORD=
PROD_HARBOR_PROJECT=
